@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1200px;
}

/* nav css start */















/* nav css end */